# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environment Variables
.env

# Media Uploads
media/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db